HOLs/Node-RED Flows/Flow 3 - V2.json
[
    {
        "id": "41bdb548.d4618c",
        "type": "upm-grove-temperature",
        "z": "ed9f6c5e.d1a",
        "name": "",
        "platform": "512",
        "unit": "C",
        "pin": "1",
        "interval": "10000",
        "x": 107,
        "y": 139,
        "wires": [
            [
                "e618eaf3.88acc8"
            ]
        ]
    },
    {
        "id": "e618eaf3.88acc8",
        "type": "function",
        "z": "ed9f6c5e.d1a",
        "name": "Data Conversion",
        "func": "msg.payload = msg.payload * 3.3 / 5\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 327,
        "y": 139,
        "wires": [
            [
                "a2baac08.e33db",
                "30723bdc.8c2424"
            ]
        ]
    },
    {
        "id": "a2baac08.e33db",
        "type": "function",
        "z": "ed9f6c5e.d1a",
        "name": "Create Payload",
        "func": "var gateway = \"PUT YOUR AZURE IOT HUB DEVICE'S DEVICE ID HERE\";\nreturn {\n    payload: {\n        deviceID: gateway,\n        timestamp: new Date().toISOString(),\n        temperature: msg.payload\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 137,
        "y": 219,
        "wires": [
            [
                "8f0d20ce.7c348"
            ]
        ]
    },
    {
        "id": "8f0d20ce.7c348",
        "type": "json",
        "z": "ed9f6c5e.d1a",
        "name": "",
        "x": 287,
        "y": 219,
        "wires": [
            [
                "eb82d9f9.59faf8"
            ]
        ]
    },
    {
        "id": "eb82d9f9.59faf8",
        "type": "debug",
        "z": "ed9f6c5e.d1a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 427,
        "y": 219,
        "wires": []
    },
    {
        "id": "30723bdc.8c2424",
        "type": "upm-grove-rgb-lcd",
        "z": "ed9f6c5e.d1a",
        "name": "Show the Temperature",
        "platform": "512",
        "r": 0,
        "g": "255",
        "b": "0",
        "row": "1",
        "column": 0,
        "x": 365,
        "y": 53,
        "wires": []
    }
]