HOLs/Node-RED Flows/Flow 3.json
[
    {
        "id": "977e97df.0122c8",
        "type": "upm-grove-temperature",
        "z": "d758237c.44519",
        "name": "",
        "platform": "512",
        "unit": "C",
        "pin": "1",
        "interval": "10000",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "6a9db365.038a9c"
            ]
        ]
    },
    {
        "id": "6a9db365.038a9c",
        "type": "function",
        "z": "d758237c.44519",
        "name": "Data Conversion",
        "func": "msg.payload = msg.payload * 3.3 / 5\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "28d90280.ea88de",
                "fb88701d.c866d"
            ]
        ]
    },
    {
        "id": "28d90280.ea88de",
        "type": "function",
        "z": "d758237c.44519",
        "name": "Create Payload",
        "func": "var gateway = \"PUT YOUR AZURE IOT HUB DEVICE'S DEVICE ID HERE\";\nreturn {\n    payload: {\n        deviceID: gateway,\n        timestamp: new Date().toISOString(),\n        temperature: msg.payload\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "817ce66e.0a9078"
            ]
        ]
    },
    {
        "id": "817ce66e.0a9078",
        "type": "json",
        "z": "d758237c.44519",
        "name": "",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "3c0f7c34.ed1424",
                "bfba29c1.70c598"
            ]
        ]
    },
    {
        "id": "3c0f7c34.ed1424",
        "type": "debug",
        "z": "d758237c.44519",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 410,
        "y": 220,
        "wires": []
    },
    {
        "id": "bfba29c1.70c598",
        "type": "azureiothub",
        "z": "d758237c.44519",
        "name": "Azure IoT Hub",
        "protocol": "amqp",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "bcc929e7.8a9ef8"
            ]
        ]
    },
    {
        "id": "bcc929e7.8a9ef8",
        "type": "function",
        "z": "d758237c.44519",
        "name": "To String",
        "func": "msg.payload = String.fromCharCode.apply(null, new Uint16Array(msg.payload));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 320,
        "wires": [
            [
                "e3dab9e3.a4eae8"
            ]
        ]
    },
    {
        "id": "fa25adf7.01238",
        "type": "debug",
        "z": "d758237c.44519",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 370,
        "y": 440,
        "wires": []
    },
    {
        "id": "e3dab9e3.a4eae8",
        "type": "json",
        "z": "d758237c.44519",
        "name": "",
        "x": 430,
        "y": 320,
        "wires": [
            [
                "fa25adf7.01238",
                "fd7c0308.743d8",
                "fec2cfc7.c5a4e"
            ]
        ]
    },
    {
        "id": "fd7c0308.743d8",
        "type": "switch",
        "z": "d758237c.44519",
        "name": "If Temp Alert",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temp",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "outputs": 1,
        "x": 186,
        "y": 394,
        "wires": [
            [
                "7e1e324a.30a2bc"
            ]
        ]
    },
    {
        "id": "57ce089b.8d45e8",
        "type": "UPM-Grove-Buzzer",
        "z": "d758237c.44519",
        "name": "",
        "platform": "512",
        "volume": "0.125",
        "pin": "3",
        "x": 194,
        "y": 532,
        "wires": []
    },
    {
        "id": "7e1e324a.30a2bc",
        "type": "function",
        "z": "d758237c.44519",
        "name": "Turn on Buzzer",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 185,
        "y": 458,
        "wires": [
            [
                "57ce089b.8d45e8"
            ]
        ]
    },
    {
        "id": "fec2cfc7.c5a4e",
        "type": "function",
        "z": "d758237c.44519",
        "name": "Get the Message",
        "func": "msg.payload = msg.payload.message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 421,
        "y": 523,
        "wires": [
            [
                "d6133a20.515628"
            ]
        ]
    },
    {
        "id": "d6133a20.515628",
        "type": "upm-grove-rgb-lcd",
        "z": "d758237c.44519",
        "name": "Show the Message",
        "platform": "512",
        "r": 0,
        "g": 0,
        "b": 255,
        "row": "1",
        "column": 0,
        "x": 420,
        "y": 602,
        "wires": []
    },
    {
        "id": "fb88701d.c866d",
        "type": "upm-grove-rgb-lcd",
        "z": "d758237c.44519",
        "name": "Show the Temperature",
        "platform": "512",
        "r": 0,
        "g": 0,
        "b": 255,
        "row": "1",
        "column": 0,
        "x": 348,
        "y": 54,
        "wires": []
    }
]