HOLs/Node-RED Flows/Flow 3 - 02 - Add Azure IoT Hub Node.json
[
    {
        "id": "9d4d97c7.d63528",
        "type": "upm-grove-temperature",
        "z": "e6060ba3.1c8608",
        "name": "",
        "platform": "512",
        "unit": "C",
        "pin": "1",
        "interval": "10000",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "34298f7e.e4fac"
            ]
        ]
    },
    {
        "id": "34298f7e.e4fac",
        "type": "function",
        "z": "e6060ba3.1c8608",
        "name": "Data Conversion",
        "func": "msg.payload = msg.payload * 3.3 / 5\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "2def18a9.bbcdb8",
                "27aa15f6.51b8ca"
            ]
        ]
    },
    {
        "id": "2def18a9.bbcdb8",
        "type": "function",
        "z": "e6060ba3.1c8608",
        "name": "Create Payload",
        "func": "var gateway = \"PASTE YOUR IOT HUB DEVICE NAME HERE\";\nreturn {\n    payload: {\n        deviceID: gateway,\n        timestamp: new Date().toISOString(),\n        temperature: msg.payload\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "ccd4d8d.37ce228"
            ]
        ]
    },
    {
        "id": "ccd4d8d.37ce228",
        "type": "json",
        "z": "e6060ba3.1c8608",
        "name": "",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "617d0aed.1e1324",
                "89896fc4.e221f"
            ]
        ]
    },
    {
        "id": "617d0aed.1e1324",
        "type": "debug",
        "z": "e6060ba3.1c8608",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 510,
        "y": 240,
        "wires": []
    },
    {
        "id": "27aa15f6.51b8ca",
        "type": "upm-grove-rgb-lcd",
        "z": "e6060ba3.1c8608",
        "name": "Show the Temperature",
        "platform": "512",
        "r": 0,
        "g": "255",
        "b": "0",
        "row": "1",
        "column": 0,
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "89896fc4.e221f",
        "type": "azureiothub",
        "z": "e6060ba3.1c8608",
        "name": "Azure IoT Hub",
        "protocol": "amqp",
        "x": 320,
        "y": 340,
        "wires": [
            []
        ]
    }
]