HOLs/Node-RED Flows/Flow 3 - 03 - Alert and Buzzer Nodes Only.json
[
    {
        "id": "f1683b79.73d458",
        "type": "json",
        "z": "9efe41bf.34aa9",
        "name": "",
        "x": 435,
        "y": 345,
        "wires": [
            [
                "fa75b334.33dc9",
                "93d9cd36.27648",
                "ada59e78.19e97"
            ]
        ]
    },
    {
        "id": "c92f7c97.8ee61",
        "type": "function",
        "z": "9efe41bf.34aa9",
        "name": "To String",
        "func": "msg.payload = String.fromCharCode.apply(null, new Uint16Array(msg.payload));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 285,
        "y": 345,
        "wires": [
            [
                "f1683b79.73d458"
            ]
        ]
    },
    {
        "id": "93d9cd36.27648",
        "type": "switch",
        "z": "9efe41bf.34aa9",
        "name": "If Temp Alert",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temp",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "outputs": 1,
        "x": 191,
        "y": 419,
        "wires": [
            [
                "d3e6423f.596ab"
            ]
        ]
    },
    {
        "id": "fa75b334.33dc9",
        "type": "debug",
        "z": "9efe41bf.34aa9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 375,
        "y": 465,
        "wires": []
    },
    {
        "id": "d3e6423f.596ab",
        "type": "function",
        "z": "9efe41bf.34aa9",
        "name": "Turn on Buzzer",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 483,
        "wires": [
            [
                "4950af37.a2cf6"
            ]
        ]
    },
    {
        "id": "ada59e78.19e97",
        "type": "function",
        "z": "9efe41bf.34aa9",
        "name": "Get the Message",
        "func": "msg.payload = msg.payload.message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 426,
        "y": 548,
        "wires": [
            [
                "e87c43b2.e9f54"
            ]
        ]
    },
    {
        "id": "4950af37.a2cf6",
        "type": "UPM-Grove-Buzzer",
        "z": "9efe41bf.34aa9",
        "name": "",
        "platform": "512",
        "volume": "0.125",
        "pin": "3",
        "x": 199,
        "y": 557,
        "wires": []
    },
    {
        "id": "e87c43b2.e9f54",
        "type": "upm-grove-rgb-lcd",
        "z": "9efe41bf.34aa9",
        "name": "Show the Message",
        "platform": "512",
        "r": 255,
        "g": 0,
        "b": 0,
        "row": "1",
        "column": 0,
        "x": 425,
        "y": 627,
        "wires": []
    }
]