HOLs/Node-RED Flows/Flow 3 - 03 - Alert and Buzzer Nodes Only.json
[
    {
        "id": "620468b8.5bbd38",
        "type": "function",
        "z": "e6060ba3.1c8608",
        "name": "To String",
        "func": "msg.payload = String.fromCharCode.apply(null, new Uint16Array(msg.payload));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "46d0d84d.3489a8"
            ]
        ]
    },
    {
        "id": "46d0d84d.3489a8",
        "type": "json",
        "z": "e6060ba3.1c8608",
        "name": "",
        "x": 310,
        "y": 400,
        "wires": [
            [
                "7a526de7.f1dd14",
                "88b54d32.90f8",
                "8d65a1b4.e01e2"
            ]
        ]
    },
    {
        "id": "7a526de7.f1dd14",
        "type": "debug",
        "z": "e6060ba3.1c8608",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 490,
        "y": 400,
        "wires": []
    },
    {
        "id": "8d65a1b4.e01e2",
        "type": "function",
        "z": "e6060ba3.1c8608",
        "name": "Get the Message",
        "func": "msg.payload = msg.payload.message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 495,
        "y": 513,
        "wires": [
            [
                "d268431f.fab68"
            ]
        ]
    },
    {
        "id": "88b54d32.90f8",
        "type": "switch",
        "z": "e6060ba3.1c8608",
        "name": "If Temp Alert",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temp",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "outputs": 1,
        "x": 137,
        "y": 500,
        "wires": [
            [
                "77804d3c.37d0c4"
            ]
        ]
    },
    {
        "id": "77804d3c.37d0c4",
        "type": "function",
        "z": "e6060ba3.1c8608",
        "name": "Turn on Buzzer",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 147,
        "y": 560,
        "wires": [
            [
                "f9aa061a.e1f8a8"
            ]
        ]
    },
    {
        "id": "f9aa061a.e1f8a8",
        "type": "UPM-Grove-Buzzer",
        "z": "e6060ba3.1c8608",
        "name": "",
        "platform": "512",
        "volume": "0.125",
        "pin": "3",
        "x": 145,
        "y": 618,
        "wires": []
    },
    {
        "id": "d268431f.fab68",
        "type": "upm-grove-rgb-lcd",
        "z": "e6060ba3.1c8608",
        "name": "Show the Message",
        "platform": "512",
        "r": 255,
        "g": 0,
        "b": 0,
        "row": "1",
        "column": 0,
        "x": 497,
        "y": 620,
        "wires": []
    }
]